# primary
node_modules
procss/siteLinks.js
procss/activeExp.js
**/build
www

# local env files
.env
.env.local
.env.*.local

# Log files
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
**/.DS_Store
.idea
.vscode
.history
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
