@use './components/info' as *;
@use './components/mixin'  as *;

.#{$ID} {
  &-content {
    background: red;
  }
}

body {
  background: red;
  background: green;

  div {
    background: red;
    background: green;
  }
}
